.navbar {
  width: 100%;
  background: linear-gradient(to right, rgb(55, 65, 81), rgb(17, 24, 39), rgb(0, 0, 0));
  padding: 0;
  margin: 0;
}

.navbar-box {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  padding: 0 80px;
}

.navbar-links{
  display: flex;
  gap: 50px;
}

.navbar-box li{
  list-style-type: none;
}

.nav-links{
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: transform 0.3s ease;
  display: inline-block
}

.nav-links:hover {
  transform: scale(1.1);
}